<div>
    <div class="card-container">
        {{#each products}}
            <div class="card card-products m-1">
                <div class="card-body">
                    <h5 class="card-title">{{this.title}}</h5>
                    <p class="card-text">{{this.description}}</p>
                    <p class="card-price">${{this.price}}</p>
                    <form class="add-to-cart-form" action="/api/cart/648a52f9f0e5e735551ba791/addProductInCart/{{this._id}}" method="POST">
                        <button class="btn btn-outline-secondary card-button" type="submit">Agregar al carrito</button>
                    </form>
                </div>
            </div>
        {{/each}}
    </div>
    <center>
        {{#if hasPrevPage}}
            <a href="/api/products?page={{prevPage}}"><button class="btn btn-outline-secondary m-3">Anterior</button></a>
        {{/if}}
        {{#if hasNextPage}}
            <a href="/api/products?page={{nextPage}}"><button class="btn btn-outline-secondary m-3">Siguiente</button></a>
        {{/if}}
    </center>
</div>