<div>
    {{#if mensaje}}
        <div class="alert alert-success">{{mensaje}}</div>
    {{/if}}
    {{#if user}}
        <a href="/session/logout" class="btn btn-outline-danger">Cerrar sesión</a>
    {{else}}
        <a href="/session" class="btn btn-outline-secondary">Iniciar sesión</a>
    {{/if}}
    <div class="card-container">
        {{#each products}}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Título: {{this.title}}</h5>
                    <p class="card-text">Descripción: {{this.description}}</p>
                    <p class="card-price">Precio: {{this.price}}</p>
                    <form class="add-to-cart-form">
                        <button class="btn btn-outline-secondary" type="submit" _id="{{_id}}">Agregar al carrito</button>
                    </form>
                </div>
            </div>
        {{/each}}
    </div>
    <center>
        {{#if hasPrevPage}}
            <a href="/api/products?page={{prevPage}}"><button class="btn btn-outline-secondary m-3">Anterior</button></a>
        {{/if}}
        {{#if hasNextPage}}
            <a href="/api/products?page={{nextPage}}"><button class="btn btn-outline-secondary m-3">Siguiente</button></a>
        {{/if}}
    </center>
</div>