<div>
    {{#each products}}
        <li><strong>Título: </strong>{{this.title}} - <strong>Descripción: </strong>{{this.description}} - <strong>Precio: </strong>{{this.price}}</li>
    {{/each}}
    <center>
        {{#if hasPrevPage}}
            <a href="/api/products?page={{prevPage}}"><button>Anterior</button></a>
        {{/if}}
        {{#if hasNextPage}}
            <a href="/api/products?page={{nextPage}}"><button>Siguiente</button></a>
        {{/if}}
        <br>
    </center>
</div>