<div>
    <div class="d-flex flex-wrap justify-content-center">
        {{#each products}}
            <div class="card m-2" style="width: 18rem;">
                <img src="{{thumbnail}}" class="card-img-top" alt="{{title}}">
                <div class="card-body text-center">
                    <h5 class="card-title">{{title}}</h5>
                    <p class="card-text">${{price}}</p>
                    <form class="add-to-cart-form" data-product-id="{{_id}}">
                        <button class="btn btn-outline-secondary addToCartBtn" type="submit">Agregar al carrito</button>
                    </form>
                </div>
            </div>
        {{/each}}
    </div>
    <div class="text-center">
        {{#if hasPrevPage}}
            <a href="/api/products?page={{prevPage}}"><button class="btn btn-light m-4">Anterior</button></a>
        {{/if}}
        {{#if hasNextPage}}
            <a href="/api/products?page={{nextPage}}"><button class="btn btn-light m-4">Siguiente</button></a>
        {{/if}}
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const addToCartButtons = document.querySelectorAll(".add-to-cart-form");
        addToCartButtons.forEach((button) => {
            button.addEventListener("submit", async (event) => {
                event.preventDefault();
                const isLoggedInResponse = await fetch(`/api/cart/checkLogin`);
                const isLoggedInData = await isLoggedInResponse.json();
                if (isLoggedInData.loggedIn) {
                    const productId = button.getAttribute("data-product-id");
                    const addToCartResponse = await fetch(`/api/cart/:cid/addProductInCart/${productId}`, {
                        method: "POST",
                    });
                    if (addToCartResponse.ok) {
                        const addToCartData = await addToCartResponse.json();
                        showSuccessMessage(addToCartData.mensaje);
                    } else {
                        showErrorMessage("Error al agregar el producto al carrito");
                    }
                } else {
                    showErrorMessage("Se requiere iniciar sesión");
                }
            });
        });
    });
</script>