<div>
    <ul class="list-group">
    {{#each users}}
        <li class="list-group-item m-2">
            <div>
                <h5 class="mb-1">{{full_name}}</h5>
                <p class="mb-1">Usuario: {{username}}</p>
                <p class="mb-1">Email: {{email}}</p>
            </div>
        </li>
    {{/each}}
    </ul>
    <div class="text-center">
        {{#if hasPrevPage}}
            <a href="/api/users?page={{prevPage}}"><button class="btn btn-light m-4">Anterior</button></a>
        {{/if}}
        {{#if hasNextPage}}
            <a href="/api/users?page={{nextPage}}"><button class="btn btn-light m-4">Siguiente</button></a>
        {{/if}}
    </div>
</div>